
.nav-link{
    color: white;
}

.spacer{
    height: 50px;
}
.content{
    min-height: 100vh;
    width: 100%;
    align-content: center;
    
}

.form{
    max-width: 450px;
    padding: 15px;
    align-items: center;
    display: inline;
  
}

input{
    width: fit-content;
}

.navbar-brand{
    color: beige;
}

.home-head{
    height: 1500px;
    background-image: url(/images/Home-head.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 90%;
}

.support-head{
    height: 1500px;
    background-image: url(/images/support.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 90%;
}

.about-head{
    height: 1500px;
    background-image: url(/images/we-about.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 90%;
}

.scale{
    transition: all 0.3s ease-in-out;
}

.scale:hover{
    transform: scale(1.01);
}

@media only screen and (max-width: 767px){
    .scale:hover{
        transform:none;
    }
}
